.title {
    height: 70px;
    font-size: 23px;
    font-weight: 700;
    color: #fff;
}

.daily-item {
    background-color: #F6F6F6;
    border-radius: 30px;
    height: 50px;
    margin: 7px auto;
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 19px;
    padding: 8px 25px;
}

.icon-small {
    width: 50px;
}   

.daily-item-day {
    cursor: inherit;
    color: #212121;
    flex: 1 1;
    font-weight: 600;
    margin-left: 15px;
}

.description {
    cursor: inherit;
    flex: 1 1;
    margin-right: 15px;
    text-align: right;
}

.min-max {
    color: #757575;
    font-weight: 600;
}

.daily-details-grid {
    grid-row-gap: 0;
    grid-column-gap: 15px;
    -webkit-column-gap: 15px;
    column-gap: 15px;
    display: grid;
    flex: 1 1;
    grid-template-columns: auto auto;
    padding: 7px 105px;
    row-gap: 0;
}

.daily-details-grid-item {
    font-size: 20px;
    align-items: center;
    display: flex;
    height: 30px;
    justify-content: space-between;
}

.daily-details-grid-item label:first-child {
    color: #ffffff;
    font-weight: 300;
}

.daily-details-grid-item label:last-child {
    font-weight: 300;
    color: #e3ff47;
}